*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"popins",sans=serif
    }
    body{
       background-color: #121317; 
    }
.wrapper{
    border: 1px solid white;
    position: absolute;
    width: 80vw;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    display: flex;
}
.container{
width: 28vmin;
height: 28vmin;
border: 1px solid orange;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: lem -0;
position: relative;
font-size: 16px;
border-radius: 0,5em;
background-color: #21242b;
border-bottom: 10px solid #18f98f;
}
i{
    color:#18f98f ;
    font-size: 2.5em;
    text-align: center;
}
span.num{
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;

}
span.text{
color:#e0e0e0 ;
font-size: 1em;
text-align: center;
pad: 0.7em 0;
font-weight: 400;
line-height: 0;

}